.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 70px 0px;
  background: linear-gradient(to top, #1a093f 24%, #3318a5 75%);
}

.profile-picture {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  max-width: 250px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.name {
  background: linear-gradient(to bottom, #ff9730, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.1;
}

.description {
  max-width: 100%;
}

.socials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.socials img {
  max-width: 60px;
}

.socials img:hover {
  scale: 1.1;
}

.cv-button {
  display: flex;
  align-items: center;
}

.download-logo {
  max-width: 50px;
}

/*Tablets*/
@media (width >= 768px) {
  .presentation {
    margin: 50px 0px;
  }

  .profile-picture {
    max-width: 350px;
  }

  .description {
    max-width: 621px;
  }

  .socials-section {
    flex-direction: row;
    justify-content: center;
  }

  .socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .socials img {
    max-width: 80px;
  }

  .download-logo {
    max-width: 70px;
  }
}

/*Laptops*/
@media (width >= 1280px) {
  .presentation {
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    margin: 0px;
    padding: 240px 98px;
  }

  .profile-picture {
    max-width: 450px;
  }

  .description {
    max-width: 641px;
  }

  .socials-section {
    gap: 40px;
    max-width: 641px;
  }

  .socials {
    gap: 40px;
  }

  .socials img {
    max-width: 100px;
  }

  .download-logo {
    max-width: 90px;
  }
}

/*Monitores*/
@media (width >= 1920px) {
  .presentation {
    padding: 240px 130px;
  }

  .profile-picture {
    max-width: 686px;
  }

  .description {
    max-width: 686px;
  }

  .socials img {
    max-width: 120px;
  }

  .download-logo {
    max-width: 110px;
  }
}
