.presentation {
  /* background: linear-gradient(to bottom, rgba(26,9,63,0.15) 24%, rgba(68, 24, 165, 0.15) 75%); */
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 115px;
  align-items: center;
  padding: 150px 150px;
}

.profile-photo {
  border-radius: 100px;
  width: 311px;
  height: 316px;
  object-fit: cover;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 23px;
  max-width: 562px;
  max-height: 318px;
}

.name {
  background: linear-gradient(to bottom, #ff9730, #ffffff);
  background-clip: text;
  -webkit-background-clip: text; /* Para navegadores Webkit */
  color: transparent;
  font-size: 40px;
  line-height: 1.1;
}

.description {
  color: #cecece;
  font-size: 18px;
  font-family: 'Fira Code', monospace;
}

.socials-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.socials {
  display: flex;
  gap: 40px;
}

.socials img {
  transition: transform 0.15s ease;
  height: clamp(28px, 3.4vw, 50px);
}
.socials img:hover {
  transform: scale(1.1);
}

.cv-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 12px 18px;
  font-size: clamp(14px, 1.4vw, 25px);
  font-family: 'Be Vietnam Pro', sans-serif;
}

.download-logo {
  display: block;
  width: auto;
  height: clamp(22px, 3vw, 60px);
}

@media (max-width: 800px) {
  .presentation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
  }

  .profile-photo {
    border-radius: 75px;
    width: 265px;
    height: 266px;
  }

  .information {
    max-width: 335px;
    max-height: 258px;
  }

  .name {
    font-size: 30px;
  }

  .description {
    font-size: 12px;
  }

  .socials {
    gap: 20px;
  }

  .socials img {
    height: 40px;
  }

  .cv-button {
    font-size: 12px;
  }
}
