.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 70px 0px;
}

.profile-picture {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  max-width: 250px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.name {
  background: linear-gradient(to bottom, #ff9730, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.1;
}

.description {
  max-width: 100%;
}

.socials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 280px;
}

.socials img {
  max-width: 60px;
}

.socials img:hover {
  scale: 1.1;
}

.cv-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.2s;
  cursor: pointer;
  border-radius: 20px;
  background-color: #00cfff;
  width: 280px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.cv-text {
  padding: 0px 15px;
}

.cv-button:hover {
  opacity: 0.8;
}

.download-logo {
  padding: 0px 15px;
  max-width: 50px;
}

/*Tablets*/
@media (width >= 768px) {
  .presentation {
    margin: 50px 0px;
  }

  .profile-picture {
    max-width: 350px;
  }

  .description {
    max-width: 621px;
  }

  .socials-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .socials {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
  }

  .socials img {
    max-width: 80px;
  }

  .cv-button {
    height: 80px;
  }

  .cv-button {
    font-size: 15px;
  }

  .download-logo {
    max-width: 70px;
  }
}

/*Laptops*/
@media (width >= 1280px) {
  .presentation {
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    margin: 0px;
    padding: 240px 98px;
  }

  .profile-picture {
    max-width: 450px;
  }

  .description {
    max-width: 700px;
  }

  .socials-section {
    gap: 40px;
  }

  .socials {
    gap: 40px;
  }

  .socials img {
    max-width: 100px;
  }

  .cv-button {
    height: 100px;
  }

  .cv-text {
    padding: 0px 10px;
    font-size: 22px;
  }

  .download-logo {
    padding: 0px 10px;
    max-width: 90px;
  }
}

/*Monitores*/
@media (width >= 1920px) {
  .presentation {
    padding: 240px 130px;
  }

  .profile-picture {
    max-width: 686px;
  }

  .description {
    max-width: 686px;
  }

  .socials img {
    max-width: 120px;
  }

  .download-logo {
    max-width: 110px;
  }
}
