.projects {
  background: linear-gradient(to bottom, rgba(26, 9, 63, 0.15) 0%, rgba(58, 5, 98, 0.91) 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.titulo {
  max-height: 51px;
  font-family: 'Be Vietnam Pro', sans-serif;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 32%, rgba(153, 153, 153, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text; /* Para navegadores Webkit */
  color: transparent;
  font-size: 40px;
  line-height: 1.1;
}

.proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 150px 150px;
  gap: 41px;
}