.projects-section {
  /* background: linear-gradient(to bottom, rgba(26, 9, 63, 0.15) 0%, rgba(58, 5, 98, 0.91) 100%); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 20px;
}

.tittle {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 32%, rgba(153, 153, 153, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text; /* Para navegadores Webkit */
  max-height: 51px;
  color: transparent;
  font-size: 40px;
  line-height: 1.1;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 41px;
  padding: 150px 150px;
}

@media (max-width: 800px) {
  .tittle {
    font-size: 30px;
  }

  .projects-section {
    padding: 84px 20px;
  }
}
