.proyect-link {
  text-decoration: none;
}

.project-card {
  display: grid;
  gap: 20px;
  border-radius: 5%;
  background-color: rgba(96, 51, 51, 1);
  padding: 18px 17px;
}

.project-card:hover {
  transform: scale(1.015);
}

.imagen-proyecto {
  max-width: 265px;
  max-height: 180px;
}

.nombre-proyecto {
  background: linear-gradient(to bottom, #ff9730, #ffffff);
  background-clip: text;
  -webkit-background-clip: text; /* Para navegadores Webkit */
  color: transparent;
  font-size: 20px;
  line-height: 1.1;
}

.descripcion-proyecto {
  max-width: 265px;
  max-height: 106px;
  color: #cecece;
  font-size: 18px;
  font-family: 'Fira Code', monospace;
}
