.techcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-style: solid;
  border-color: #ff4e4e;
  border-radius: 50px;
  padding: 10px 0px 20px 0px;
  width: 280px;
}

.techcard-name {
  background: linear-gradient(to bottom, #ff9730, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.1;
}

.techcard-images {
  display: flex;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.techcard-image {
  flex-wrap: wrap;
  height: 100px;
}

/*Tablets*/
@media (width >= 768px) {
  .techcard {
    width: 600px;
  }

  .techcard-images {
    column-gap: 50px;
    padding: 30px;
  }

  .techcard-image {
    max-width: 570px;
  }

  .techcard-information {
    max-width: 570px;
  }
}

/*Laptops*/
@media (width >= 1280px) {
  .techcard {
    width: 650px;
  }

  .techcard-image {
    max-width: 620px;
  }

  .techcard-information {
    max-width: 620px;
  }
}

/*Monitores*/
@media (width >= 1920px) {
  .techcard {
    width: 700px;
  }

  .techcard-image {
    max-width: 670px;
  }

  .techcard-information {
    max-width: 670px;
  }
}
