.skills {
  display: grid;
  justify-items: center;
  gap: 55px;
  padding: 50px;
}

.tech-section {
  position: relative;
  justify-items: center;
  background-color: rgb(183, 183, 183);
  width: 100%;
  height: 120px;
}

.tech-background {
  position: absolute;
  top: 10px;
  right: 0px;
  bottom: 10px;
  left: 0px;
  background-color: rgb(255, 226, 226);
}

.tech {
  display: flex;
  position: absolute;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  gap: 60px;
  box-sizing: border-box;
  margin: 20px 0px;
  padding: 0px 150px;
}

.skills-section {
  background-color: rgba(96, 51, 51, 1);
  width: 980px;
  height: 237px;
}

@media (max-width: 800px) {
  .skills {
    gap: 100px;
    padding: 30px 0px;
  }

  .tech-section {
    height: 90px;
  }

  .tech-background {
    position: absolute;
    top: 10px;
    right: 0px;
    bottom: 10px;
    left: 0px;
    background-color: rgb(255, 226, 226);
  }

  .tech {
    display: flex;
    position: absolute;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    margin: 28px 0px;
    padding: 0px 0px;
  }

  .skills-section {
    width: 335px;
    height: 169px;
  }
}
