.skills {
  padding: 50px;
  display: grid;
  gap: 55px;
  justify-items: center;
}

.seccion-tecnologias {
  position: relative;
  height: 120px; 
  width: 100%; 
  background-color: rgb(183,183,183);
  justify-items: center;
}

.fondo-tecnologias {
  position: absolute; 
  bottom: 10px;
  left: 0px;
  right: 0px;
  top: 10px;
  background-color: rgb(255,226,226);
}

.tecnologias {
  position: absolute; 
  margin: 20px 0px;
  box-sizing: border-box; 
  display: flex; 
  align-content: stretch;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 0px 150px;
}

.saberes {
  background-color: rgba(96, 51, 51, 1);
  width: 980px;
  height: 237px;
}

@media (max-width: 800px) {
  .skills {
    padding: 30px 0px;
    gap: 100px;
  }

  .seccion-tecnologias {
    height: 90px; 
  }

  .fondo-tecnologias {
    position: absolute; 
    bottom: 10px;
    left: 0px;
    right: 0px;
    top: 10px;
    background-color: rgb(255,226,226);
  }

  .tecnologias {
    position: absolute; 
    margin: 28px 0px;
    box-sizing: border-box; 
    display: flex; 
    align-content: stretch;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0px 0px;
  }

  .saberes {
    width: 335px;
    height: 169px;
  }
}