.skills {
  padding: 50px;
  display: grid;
  gap: 55px;
  justify-items: center;
}

.fondo-tecnologias {
  display: grid;
  background-color: rgba(183, 183, 183, 1);
  height: 120px;
  align-items: center;
}

.tecnologias {
  height: 100px;
  display: flex;
  gap: 75px;
  background-color: rgba(255, 226, 226, 1);
  align-items: center;
}

.saberes {
  background-color: rgba(96, 51, 51, 1);
  width: 980px;
  height: 237px;
}