.tech-icon {
  position: relative;
  flex-shrink: 0;
  inset: 0px;
  max-width: none;
  height: 80px;
  object-fit: cover;
  pointer-events: none;
}

@media (max-width: 800px) {
  .tech-icon {
    height: 35px;
  }
}
