.tech-icon {
    pointer-events: none; 
    position: relative; 
    inset: 0px; 
    height: 80px; 
    max-width: none; 
    flex-shrink: 0; 
    object-fit: cover;
}

@media (max-width: 800px) {
    .tech-icon { height: 35px; }
}