* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
}

#root {
  min-height: 100%;
}

/* Fondo y tipografía global */
body {
  background: linear-gradient(
    to bottom,
    #1a093f 10%,
    #15004a 30%,
    #3a0562 45%,
    #000000 75%,
    #121623 100%
  );
  color: #d8b9d1;
  font-family: 'Poppins', sans-serif;
}

/* Imágenes y botones genéricos */
img {
  display: block;
  max-width: 100%;
}

button {
  transition: opacity 0.2s;
  cursor: pointer;
  border-radius: 20px;
  background-color: #00cfff;
  padding: 8px 16px;
  color: #000;
  font-weight: 600;
}
button:hover {
  opacity: 0.8;
}
