body {
  margin: 0px;
  background: linear-gradient(
    to bottom,
    #1a093f 10%,
    #15004a 30%,
    #3a0562 45%,
    #000000 75%,
    #121623 100%
  );
  padding: 0px 20px;
  min-height: 100%;
}

h1 {
  margin: 0;
  color: #d8b9d1;
  font-size: 36px;
  line-height: 0.9;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.02em;
}

p {
  margin: 0;
  color: #d8b9d1;
  font-size: 16px;
  line-height: 1.1;
  font-family: 'Fira Code';
  letter-spacing: -0.02em;
}

/* Imágenes y botones genéricos */
img {
  display: block;
  max-width: 100%;
}

button {
  transition: opacity 0.2s;
  cursor: pointer;
  border-radius: 20px;
  background-color: #00cfff;
  padding: 8px 16px;
  color: #000;
  font-weight: 600;
}
button:hover {
  opacity: 0.8;
}

/*Tablets*/
@media (width >= 768px) {
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 28px;
  }
}

/*Laptops*/
@media (width >= 1280px) {
  h1 {
    font-size: 60px;
  }
}

/*Monitores*/
@media (width >= 1920px) {
  h1 {
    font-size: 80px;
  }

  p {
    font-size: 32px;
  }
}
