* { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #root { height: 100%; }

/* Fondo y tipografía global */
body {
  font-family: 'Poppins', sans-serif;
  color: #d8b9d1;
  background: linear-gradient(to bottom, #1A093F 0%, #15004A 45%, #050011 100%);
}

/* Imágenes y botones genéricos */
img { max-width: 100%; display: block; }

button {
  background-color: #00cfff;
  color: #000;
  border-radius: 20px;
  padding: 8px 16px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity .2s;
}
button:hover { opacity: .8; }
